$primary: #AA0601;
$secondary: #650300;
$pink: rgba(170, 6, 1, 0.05);
$white: #FFF;

// index
$gray: #707070;
$cm-border: #DEE2E6;

//location

$branch-sel: #495057;
$lct-border: rgba(0, 0, 0, 0.13);

// faq
$faq-b-color: #F2F2F2;